recomendations-page {
    .cards-bg {
        background-color: #F8F8F8;
    }

    ion-grid {
        padding-right: 16px !important;
    }

    .buttons {
        margin-top: -16px;
        padding-left: 10px;
    }

    .percentage-occurrences {
        opacity: 0.9 !important;
    }
}
