recomendations-page {
    .cards-bg {
        background-color: #F8F8F8;
    }

    .buttons {
        margin-top: -16px;
        padding-left: 10px;
        padding-right: 20px;
    }

    .percentage-occurrences {
        opacity: 0.9 !important;
    }

    .card-button {
        //padding-right: 6px !important;
    }
}
