recomendations-page {
    .cards-bg {
        background-color: #F8F8F8;
    }

    .buttons {
        margin-top: -16px;
    }

    .percentage-occurrences {
        padding-left: 4px !important;
        opacity: 0.9 !important;
    }

    .card-button {
        padding-right: 6px !important;
    }
}
